{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6  m-auto">
            <h2>Inscrivez-vous</h2>
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            <form method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <a href="{% url 'login' %}" class="btn btn-primary">Retourner</a>    <button type="submit" class="btn btn-primary">S’inscrire</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}