{% extends 'base.html' %}

{% block content %}

    {% include 'partials/nav_bar.html' %}

    <h2>Page d'accueil</h2>
    <p>Bonjour {{user.username}} </p>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{% url 'tickets-create' %}" class="btn btn-secondary">Demander une critique</a>
            </div>
            <div class="col">
                <a href="{% url 'tickets-create' %}" class="btn btn-secondary">Publier une critique</a>
            </div>
        </div>
    </div>

{% endblock content %}