{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% include 'partials/nav_bar.html' %}

    {% for post in posts %}

        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col col-lg-8 Regular shadow">   
                {% if post.content_type == 'TICKET' %}
                    {% include 'tickets/partials/ticket_snippet.html' with ticket=post %}

                {% elif post.content_type == 'REVIEW' %}
                    {% include 'tickets/partials/review_snippet.html' with review=post %}

                {% endif %}
                <div class="d-flex justify-content-end my-2">
                    {% if post.content_type == 'TICKET' %}
                        <a href="{% url 'update-ticket' post.id %}" class="btn btn-secondary mr-2">Modifier</a>
                        <a href="{% url 'ticket-review-delete' post.content_type post.id %}" class="btn btn-secondary mr-2">Supprimer</a>
                    {% elif post.content_type == 'REVIEW' %}
                        <a href="{% url 'update-review' post.id %}" class="btn btn-secondary mr-2">Modifier</a>
                        <a href="{% url 'ticket-review-delete' post.content_type post.id %}" class="btn btn-secondary mr-2">Supprimer</a>
                    {% endif %}
                    
                </div>
                </div>
            </div>
        </div> 

    {% endfor %}

{% endblock content %}