{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% include 'partials/nav_bar.html' %}

    {% if page_title == 'Modifier votre ticket' and form.instance.user != request.user %}
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Oops ! Vous n'avez pas le droit d'accéder à cette page </h2>
                </div>
            </div>
        </div>
    {% else %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>{{page_title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-secondary" value={{submit_text}}>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}